/* Navbar Custom Styling */
.navbar {
    background-color: rgba(255, 255, 255, 0.15); /* semi-transparan */
    backdrop-filter: blur(10px); /* efek blur */
    -webkit-backdrop-filter: blur(10px); /* support Safari */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* bayangan halus */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* garis bawah */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand,
.nav-link,
.dropdown-item {
    color: rgb(0, 0, 0) !important;
}

.navbar img
{
    margin-left: 20px;
}

.nav-link:hover,
.dropdown-item:hover {
    color: #007bff !important;
}

.navbar-toggler {
    border: none;
}

.dropdown-menu {
    background-color: #fff;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgba(0, 119, 182, 0.1) ;
    color: #333;
}

.card {
    margin-bottom: 30px;   /* Opsional */
    padding-left: 5px; 
    padding-right: 5px; 
    padding-top: 5px; 
    
}


.class-card {
transition: transform 0.3s ease;
}

.class-card:hover {
transform: translateY(-5px);
}

.class-img {
border-radius: 20px;
margin-top: 30px;
object-fit: cover;
height: 250px;
width: 100%;
transition: transform 0.5s ease;
}

.class-card:hover .class-img {
transform: scale(1.05);
}

.class-title {
font-weight: 600;
margin-top: 15px;
transition: color 0.3s ease;
}

.class-desc {
font-size: 15px;
color: grey;
}

.link-detail {
text-transform: uppercase;
font-size: 14px;
font-weight: 500;
display: inline-block;
margin-top: 10px;
text-decoration: none;
color: black;
}

/* Hover Colors */
.features:hover .class-title {
color: #007bff;
}

.link-detail:hover { 
color: yellow;
}

/*.intermediate:hover .class-title {
color: #28a745;
}

.advanced:hover .class-title {
color: #6f42c1; 
}*/

