/* Navbar Custom Styling */
.navbar {
    background-color: rgba(255, 255, 255, 0.15); /* semi-transparan */
    backdrop-filter: blur(10px); /* efek blur */
    -webkit-backdrop-filter: blur(10px); /* support Safari */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* bayangan halus */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* garis bawah */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand,
.nav-link,
.dropdown-item {
    color: black !important;
}

.navbar img
{
    margin-left: 20px;
}
.nav-link:hover,
.dropdown-item:hover {
    color: #007bff !important;
}

.navbar-toggler {
    border: none;
}

.dropdown-menu {
    background-color: #fff;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-image: url(../pic/2151909686.jpg);
    color: #333;
}
h1, h2, h3 {
    font-family: 'Montserrat', serif;
    color: #fff;
}
.description{
    color: #fff;
}
.hero {
    display: block;
    padding: 180px;
    background-image: url(../pic/2151909686.jpg);
    background-size: cover;       /* supaya foto penuh */
    background-position: center;  /* posisinya di tengah */
    background-repeat: no-repeat; /* tidak diulang */
    color: white;
    align-items: center;
    justify-content: space-between;
}

.content {
    max-width: 50%;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;   
    text-decoration: none;
    margin-right: 10px;
    border-radius: 20px;
}

.primary {
    background-color: #007BBA;
    color: white;
}

.about{
    text-align: justify;
}
.about img {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);

}

.about h2 {
    font-weight: bold;
    color: black;
}

.footer {
    background-color: #03045e;
    font-size: 14px;
}

.footer a:hover {
    color: #90e0ef;
}
